* {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    text-align: center;
    font-size: 80px;
}

li {
    display: flex;
    float: left;
    text-decoration: none;
}

img {
    display: block;
    padding-left: 50px;
}

a {
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-images {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

/* css for pages linked from index.html */

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-images.small {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

a.small {
    text-align: center;
    font-size: 10px;
    text-decoration: none;
    color: black;
}

.recipe-images {
    width: 400px;
    height: 400px;
    padding-right: 100px;
}

.description-container {
    display: flex;
    align-items: center;
}

.text-description-container {
    display: flex;
    flex-direction: column;
}